<configuration>
  <packageSources>
    <clear />
    <add key="SolutionLocal" value="<SomeLocalPath>" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <config>
    <add key="globalPackagesFolder" value="packages" />
  </config>
</configuration>
